body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #20c997, #17a2b8);
    padding-top: 50px;
}

.chat-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.chat-body {
    padding: 20px;
    height: 350px;
    overflow-y: auto;
    flex-grow: 1;
}

.chat-footer {
    display: flex;
    align-items: center;  /* Ensure items are centered vertically */
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

#query-select {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 50px;  /* Add some space between the dropdown and the button */
    max-width: calc(100% - 150px);  /* Adjust the max-width to leave space for the button */
}

#send-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    flex-shrink: 0;  /* Ensure the button doesn't shrink */
}

#send-btn:hover {
    background-color: #0056b3;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.text1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
    color: darkgreen;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
